<div class="col-sm-6 mx-auto">
    <h3>{{ isEditing ? "Edit" : "New"}} Order</h3>

    <form class="form" [formGroup]="orderForm" (ngSubmit)="handleSubmit()">
        <div class="form-group">
            <!-- Adding respective form-control-label -->
            <label class="form-control-lable">Order Id:</label>
            <input type="number" formControlName="orderId" class="form-control">
        </div>
        <div class="form-group">
            <label class="form-control-label">Order Date:</label>
            <!-- Adding respective form-control-label and performing validations -->
            <input type="date" formControlName="orderDate" class="form-control" />
            <div class="alert alert-danger" *ngIf="orderDatefc.invalid && (orderDatefc.touched || orderDatefc.dirty)">
                <span *ngIf="orderDatefc.errors.required">This field is mandate</span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label">Order Status:</label>
            <!-- Adding respective form-control-label and performing validations -->
            <input type="text" formControlName="orderStatus" class="form-control" />
            <div class="alert alert-danger" *ngIf="orderStatusfc.invalid && (orderStatusfc.touched || orderStatusfc.dirty)">
                <span *ngIf="orderStatusfc.errors.required">This field is mandate</span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label"> Food Cart:</label>
            <!-- Adding respective form-control-label and performing validations -->
            <input type="text" formControlName="cartId" class="form-control" />
            <div class="alert alert-danger" *ngIf=" cartIdfc.invalid && ( cartIdfc.touched ||  cartIdfc.dirty)">
                     <span *ngIf="cartIdfc.errors.required">This field is mandate</span>
            </div>
        
        </div>
        <!-- Creating a Save button for saving the entries  -->
        <button class="btn btn-block btn-primary" [disabled]="orderForm.invalid">
            Save
        </button>
    </form>
</div>
