<body>
<!-- Creating a jumbotron at the dashboard -->
<div class="jumbotron jumbotron-fluid p-2 ">
    <br><br><br>
    <div class="container p-5 mt-4" style="background-color:rgb(250, 236, 37); border-radius: 50px; height:600px">
        <br><br>
        <!-- Styling the heading -->
        <h1 class="display-4" >Online Food Deliver Application</h1>
        <p class="lead">
            <br><br>
            <!-- Text to be displayed inside the jumbotron -->
            The Aim of this application is to form a bridge between restaurant and customers.
            The Restaurant owners must be able to sign in to the application to create and list out their food items along with the price 
            So, that the customers could sign up , view the nearby restaurants and place the order.
            The customer selects the method of payment and makes a payment for his order.
            The restaurant owner can accept his order and delivery the order to customer.
            
        </p>
    </div>
</div>
</body>